---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found">
  <div class="text-center">
    <img
      src="/images/abduction-illustration.svg"
      class="mx-auto block w-1/2"
      alt="Ghost getting abducted by aliens"
    />
    <h2 class="my-8 inline-block bg-yellow-500 p-3">
      Looks like this page is a ghost that got abducted by aliens...
    </h2>
  </div>
</Layout>
